<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="https://zhaosirlaile.oss-cn-beijing.aliyuncs.com/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>赵sir的个人网站 - Zhao Sir's Personal Website</title>
  <meta name="description" content="赵sir的个人网站 - Zhao Sir's Personal Website 记录我的IT成长路上的点点滴滴，希望通过撰写博客对知识沉淀，同时方便平时复习巩固。">
	<meta name='Keywords' content="赵sir,个人网站，个人博客，IT，大前端，全栈">
  <style>
    * {
      box-sizing: border-box;
    }
    html,body {
      width: 100%;
    }
    body {
      height: 100%;
    }

    ::-webkit-scrollbar {
      width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
      height: 10px;
      background:transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #BBBBBB;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
  </style>
</head>

<body>
  <!-- 这是容器 -->
  <div id="app"></div>
  <script>
    

  </script>
<script type="text/javascript" src="https://zhaosirlaile.oss-cn-beijing.aliyuncs.com/file/bundle.js"></script></body>

</html>