<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="https://zhaosirlaile.oss-cn-beijing.aliyuncs.com/img/favicon.ico" type="image/x-icon">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/manage/css/manage.css">
</head>
<body>
    <div class="w">
        <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand" href="">
                            <img alt="Brand" class="logo" src="https://zhaosirlaile.oss-cn-beijing.aliyuncs.com/img/logo.png">
                        </a>
                        </div>
                    </div>
                </nav>
        </div>
        <div class="main">
            <div class="nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="/manage">首页</a></li>
                        <li><a href="/blogmanage">博客管理</a></li>
                        <li><a href="/edit">写博客</a></li>
                    </ul>
            </div>
            <div class="content">
                <div class="contentitem">
                    <div class="item">
                        暂无内容
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>